[Desktop Entry]
Encoding=UTF-8
Name=Redis Desktop Manager
Exec=another-redis-desktop-manager
Icon=redis
Terminal=false
Type=Application
Categories=Development;
Comment=Another Redis Desktop Manager
