[Desktop Entry]
Encoding=UTF-8
Name=MongoDB Compass
Exec=mongodb-compass
Icon=mongodb-compass
Terminal=false
Type=Application
Categories=Development;
Comment=PostgreSQL GUI client
